#map {
    width: 400px;
    height: 400px;
    background-color: grey;
  }
/* body style */
.jumbotron.jumbotron-fluid {
    background-color: transparent;
    /* background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");  */
    /* background-image: url("../images/background.jpg"); */
    overflow: auto;
 }
h1{
    font-family: 'Bangers';font-size: 32px;
}

p.lead{
    font-weight: 400;

    color: white;
    font-family: 'Sofia';font-size: 18px;
    font-style: italic;

}
body {
    background-color: transparent;
    /* background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");  */
    /* background-image: url("../images/background.jpg"); */
    overflow: auto;
}
html {
    /* background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); */
    background-image: url("https://www.vactualpapers.com/web/wallpapers/calm-and-quite-at-sea-nature-hd-wallpaper/3840x2160.jpg");
    background-color: #7dcdf8d5;
}
.col-md-6{
overflow-y: scroll;
width: 450px;
height: 400px;
}

#active {
    text-align: center;
    font-family: 'Bangers';font-size: 22px;
    letter-spacing: 2px;
}
.quotediv{
    border: solid 3px white;
    /* width:400px */
}
.qotd{
    font-style: italic;
    font-family: 'Sofia';font-size: 18px;
    width: 400px;
    align-content: center;
    margin: 10px; 
    color: black;

}

#textquotes{
    font-size: 30px;
}

#reset{
    color:white;
    background-color:lightblue;
}